
:root{
    --primary-text-color:#FFF;
    --header-background-color:#012D63;
    --secondary-text-color: #C7C7C7;
    --button-color: #8E32C6;
    --ua:#DCDCDC;
}

.container{
    width: 1230px;
    padding-left: 15px ;
    padding-right: 15px ;
    margin: 0 auto;
}
body{
    font-family:Roboto, sans-serif;

}
/*header*/
.header{
    padding-top: 30px;
    background-color: #012D63;
    padding-bottom: 30px;
}

.nike-logo{
    width: 100px;
    height: 60px;
}
.header-list{
    display: flex;
    justify-content: space-between;
    margin-left: 152px;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.nav-link-q:hover{
   color: var(--primary-text-color);
}
.nav-link-q{
    color: var(--secondary-text-color);
    margin-left: 29px;
}
.nav-link-q-order{
    color: var(--secondary-text-color);
    margin-left: 20px;
    margin-right: 73px;
}
.nav-link-q-order:hover{
    color: var(--primary-text-color);
}
.nav-link:nth-child(1){
    color: var(--primary-text-color);
}
.languege{
    display: flex;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ua{
    color: var(--ua);
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.english{
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 12px;
}
/*section-one*/
.sec-one-logo{
    width: 160px;
    height: 120px;
    flex-shrink: 0;
    margin-bottom: -28px;
    margin-top: 91px;
    margin-left: 14px;
}
.section-one{
    background: url(img/Group37\(1\)1\(1\).jpg), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:94px;
    padding-bottom: 183px;


}
.div-sec-one{
    color: var(--primary-text-color);   
}
.section-one-logo{
    font-family: PT serif, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 39px;
}
.colo-rawe{
    font-family:Playfair Display, sans-serif;
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.yourdreamnike{
    font-family: Playfair Display, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section-one-p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 41px;
    margin-top: 12px;
}
.button-one{
    border-radius: 10px;
    background: #8E32C6;
    padding: 20px 61px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--primary-text-color);
    border: none;
}
.button-one:hover{
     background-color: #7829aa;
     color:var(--ua) ;
}

/*section-two*/
.section-two{
    background: url(img/Group\ 8\ 1.jpg), lightgray 0px -384px / 100% 227.888% no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 105px;
    padding-bottom: 105px;
    color: var(--primary-text-color);
}
.sec-two-list{
   border: 5px solid var(--button-color); 
   background-position: center;
   display: flex;
   justify-content: space-between;
   padding: 25px;
}
.sec-two-card{
    padding: 50px ;
    border-right:1px solid var(--primary-text-color);
    text-align: center;
    font-family: Playfair Display, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sec-two-card-two{
    padding: 50px;
    text-align: center;
    font-family: Playfair Display, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sec-two-card-three{
    padding: 50px;
    border-left:1px solid var(--primary-text-color) ;
    text-align: center;
    font-family: Playfair Display, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*section-three*/
.section-three{
    color: var(--primary-text-color);
    background-image: url(img/цветы\ 2\ 1\ \(1\).png), url(img/Group\ 6\ 1.jpg);  
    background-size: 300px, cover; 
    background-repeat: no-repeat, no-repeat;  
    background-position: left bottom, center;  
    padding-top: 25px;  
    padding-bottom: 100px;  
}

.sec-three-title{
    font-family: Playfair Display, sans-serif;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
    margin-top: 25px;
}
.time{
    color:#D8D8D8;
    margin-top: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.sec-three-list{
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 80px;
}
.sec-three-card{
    padding-left: 18px;
    padding-top: 49px;
    width: 255px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
}
.sec-three-card-two{
    padding-left: 18px;
    padding-top: 49px;
    width: 255px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 15px;
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
}
.sec-three-card-three{
    padding-left: 18px;
    padding-top: 49px;
    width: 255px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
}
.sec-three-comment{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.worker-picture{
    display: flex;
    margin-top: 90px;
}
.worker-name{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
}
.worker-time{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #D8D8D8;
    margin-left: 5px;
}
/*section-four*/
.order{
    background: url(img/Group\ 2\ 1\ \(1\).png), lightgray -1.001px -1.002px / 100.209% 158.214% no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 21px;
}
.sec-four-title{
    text-align: center;
    color: var(--primary-text-color);
    color: #FFF;
    font-family: Playfair Display, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 33px;
}
.sec-four-form{
    display:flex;
    color: var(--primary-text-color);
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
}
.input-one{
    width: 690px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    margin-bottom: 19px;
    border: none;
    color: #959595;
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left:25px ;
}
.input{
    border-radius: 50px;
    width: 580px;
    height: 50px;
    flex-shrink: 0;
    margin-bottom: 19px;
    border: none;
    color: #959595;
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left:24px ;
}
.button-two{
    border-radius: 16px;
    background: #8E32C6;
    padding: 20px 61px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--primary-text-color);
    border: none;
    margin-bottom: 37px;
}
.button-two:hover{
    background-color: #7829aa;
    color:var(--ua) ;
}
/*footer*/
.footer{
    background: #021635;
    color: var(--primary-text-color);
    padding-top: 45px;
    padding-bottom: 45px;
}
.footer-list-one{
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}
.footer-list-two{
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    text-decoration-line: underline;
}
.footer-top{
    margin-top: 45px;
}
.footer-div{
    display: flex;
    justify-content: space-between;
}
.line{
    height: 1px;
    background: #9B9B9B;
    margin-top: 10px;
    margin-bottom: 24px;
}
.last-footer{
    display: flex;
    justify-content: space-between;
}
.footer-nike{
    width: 108px;
    height: 81px;
    flex-shrink: 0;
    margin-bottom: -19px;
}
.footer-cr{
    font-family: PT Serif, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-text{
    margin-bottom: 8px;
}



