
:root{
    --primary-text-color:#FFF;
    --header-background-color:#012D63;
    --secondary-text-color: #C7C7C7;
    --button-color: #8E32C6;
}

.container{
    width: 1230px;
    padding-left: 15px ;
    padding-right: 15px ;
    margin: 0 auto;
}
body{
    font-family:Roboto, sans-serif;

}
/*header*/
.header{
    padding-top: 30px;
    background-color: #012D63;
    padding-bottom: 30px;
}

.nike-logo{
    width: 100px;
    height: 60px;
}
.header-list{
    display: flex;
    justify-content: space-between;
    margin-left: 152px;

}
.nav-link{
    color:var(--secondary-text-color) ;
    margin: auto;
}
.nav-link-q{
    color: var(--secondary-text-color);
}
.nav-link:nth-child(1){
    color: var(--primary-text-color);
}
.languege{
    display: flex;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*section-one*/
.sec-one-logo{
    width: 160px;
    height: 120px;
    flex-shrink: 0;
    margin-bottom: -20px;
}
.section-one{
    background: url(img/Group37\(1\)1\(1\).jpg), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:94px;
    padding-bottom: 183px;


}
.div-sec-one{
    color: var(--primary-text-color);   
}
.section-one-logo{
    font-family: PT serif, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 39px;
}
.colo-rawe{
    font-family:Playfair Display, sans-serif;
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.yourdreamnike{
    font-family: Playfair Display, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section-one-p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 41px;
}
.button-one{
    border-radius: 10px;
    background: #8E32C6;
    padding: 20px 61px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--primary-text-color);
    
}
/*section-two*/
.section-two{
    background: url(img/Group\ 8\ 1.jpg), lightgray 0px -384px / 100% 227.888% no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 105px;
    padding-bottom: 105px;
    color: var(--primary-text-color);
}
.sec-two-list{
   border: 5px solid var(--button-color); 
   background-position: center;
   display: flex;
   justify-content: space-between;
   padding: 25px;
}
.sec-two-card{
    padding: 50px ;
    border-right:1px solid var(--primary-text-color);
    text-align: center;
    font-family: Playfair Display, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sec-two-card-two{
    padding: 50px;
    text-align: center;
    font-family: Playfair Display, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sec-two-card-three{
    padding: 50px;
    border-left:1px solid var(--primary-text-color) ;
    text-align: center;
    font-family: Playfair Display, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*section-three*/
.section-three{
    color: var(--primary-text-color);
    background: url(img/Group\ 6\ 1.jpg), lightgray 0px -9px / 100% 255.769% no-repeat;
    border-top: 2px solid var(--primary-text-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 520px;
}
.sec-three-title{
    font-family: Playfair Display, sans-serif;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sec-three-list{
    display: flex;
    justify-content: space-around;
}
.sec-three-card{
    padding-left: 18px;
    padding-top: 49px;
    width: 255px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
}
.sec-three-card-two{
    padding-left: 18px;
    padding-top: 49px;
    width: 255px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 15px;
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
}
.sec-three-card-three{
    padding-left: 18px;
    padding-top: 49px;
    width: 255px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 15px;
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
}
.sec-three-comment{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



